{% extends "dashboard/base.html" %}

{% block main %}
    <h1>Login</h1>
    <form method="POST">
        {% csrf_token %}
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2" name="username">
            <span class="input-group-text" id="basic-addon2">@kinetic-kowalski.space</span>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1">Password</span>
            <input type="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1" name="password">
          </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
{% endblock %}